header {
    display: flex;
    flex-direction: row;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  .gallery img {
    max-width: 100%;
    height: auto;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
  }
