body{
  background-color: #ebebeb;
  height: 100%;
  min-height: 100%;
}


#blueberry_muffin_details{
  background-image: url(../img/blueberry_muffin_wallpaper.jpg);
  background-repeat:no-repeat;
  /* Full height */
  height: 100%;
  min-height: 100%;
  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* position:sticky;
  top:0; */
  background-color: #ffffff91;
  background-blend-mode: saturation;
}

#croissant_details{
  background-image: url(../img/croissant_wallpaper.jpg);
  background-repeat:no-repeat;
  /* Full height */
  height: 100%;

  /* Center and scale the image nicely */
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  /* position:sticky;
  top:0; */
  background-color: #ffffff91;
  background-blend-mode: saturation;
}

header {
    display: flex;
    flex-direction: row;
}

section {
  margin-left: 15%;
  margin-right: 15%;
  position: relative;

}
a{
  text-decoration:none;
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

input[type=text]:hover,input[type=email]:hover {
  border: 2px solid #390834;
}

textarea{
  border: 2px solid #72266860
}
textarea:hover{
  border: 2px solid #390834;

}
input[type=text]:focus {
  border: 2px solid #390834;
}

/* Styling navigation elements */
.page_container {
  display: flex;
  flex-direction: column;
  }


p{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}

li{font-family: Verdana, Arial, Helvetica, sans-serif;
}


h1, h2, h3{
  font-family: Georgia, serif;
}


/* styling interactive elements like the intext link & the various buttons used */
.buttons_container {
  display: flex;
  flex-direction: row;
  }



.button {
  margin-top: 20px;
  padding: 10px 20px;
  /* background-color: rgb(246, 215, 130); */
  background-color:#722668;
  color: rgb(255, 255, 255);
  border: none;
  border-radius: 20px;
  font-size: 16px;
  margin-right: 2rem;
  cursor:pointer;
  font-weight: bold;
  }

.button:hover {
  background-color:#3e0d37;
  color: #fff;
}

@media only screen and (max-width: 800px) {
.button{
   margin-bottom: 15px;
   margin-left:auto;
   margin-right:auto;
    }
}

.center_button {
  margin-top: 20px;
  padding: 10px 20px;
  /* background-color: rgb(246, 215, 130); */
  /* background-color:#390834; */
  color: rgb(255, 255, 255);
  border-style: solid;
  border-width: thick;
  border-color:white;
  border-radius: 5px;
  font-size: 16px;
  margin-right: 2rem;
  cursor:pointer;
  font-weight: bold;
  width:25%;
  margin-left: auto;
  margin-right: auto;
  }

.center_button:hover {
  background-color:#130311;
  color: #fff;
}
/* home page */

/* home landing image */
.landingImg {
  background-image: url("../img/bakeBanner.jpg");
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-size: cover;
  background-color: #00000091;
  background-blend-mode: darken;
}



/* home landing image end */

/* content on the landing image */
.landingContent {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  color: white;
  background-image: none;
  padding: 100px;
  background-color: transparent;

}


.landingContent a {
  color: white;
}

@media only screen and (max-width: 800px) {

  .landingImg {
    width: 100%;
    margin-left: auto;
    margin-right: 0;

  }


  .landingContent {
    padding-top: 25px;
  }
}

/*end of content on the landing image */


/* home landing image */
.landingImg2 {
  background-image: url("../img/bakeBanner2.jpg");
  width: 100%;
  margin-left: 0;
  margin-right: 0;
  background-size: cover;
  background-color: #0000008e;
  background-blend-mode: darken;
  /* position:fixed; */
}


#blueberrymuffin_banner{
  background-image: url("../img/blueberry_muffin_wallpaper.jpeg");
}



/* home landing image end */

/* content on the landing image */
.landingContent2 {
  width: 50%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  text-align: center;
  color: white;
  background-image: none;
  padding: 100px;
  background-color: transparent;

}

.landingContent2 a {
  color: white;
}

@media only screen and (max-width: 800px) {

  .landingImg2 {
    width: 100%;
    margin-left: auto;
    margin-right: 0;

  }


  .landingContent2 {
    padding-top: 25px;
  }
}

/*end of content on the landing image */


.about_img{
  width:100%;
  height:100%;
}


.about-flex-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
}


.about-flex-item {
  flex: 50%;
  padding-left: 25px;
  padding-right: 25px;
  /* color: white; */
  padding-bottom: 25px;

}

.wrap{
  padding-left: 25px;
  padding-right: 25px;
  padding-top:25px;
}

@media only screen and (max-width: 900px) {
  .about-flex-container {
  flex-direction: column;
  margin-left: auto;
  margin-right: auto;
}

.about-flex-item {

text-align:center;

}

}

.featured_gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
  margin-top: 2%;
  margin-bottom: 2%;
}

.item-details {
  display: flex;
  flex-direction: row;
}

/* product page css */

.filter-buttons {
  display: flex;
  gap: 0.8rem;
  flex-wrap: wrap;
}

.filter-button {
  border-radius: 20px;
  padding: 10px 20px;
  border: 2px solid #390834;
  color: #390834;
  cursor: pointer;
}

/* data-active is toggled in filter.js when a filter is active */
.filter-button[data-active] {
  color: white;
  background-color: #390834;
}

.filter-button:not([data-active]):hover {
  background-color: unset;
}

.filter-button[data-active]:hover {
  background-color: #390834;
}

.product-category-heading {
  margin-left: 15%
}

.featured_gallery {
    display: flex;
    /* flex-wrap: wrap; */
    gap: 20px;
    /* margin-left:auto;
    margin-right: auto; */
 
  }

  .featured_gallery .item{
    flex: 25%;
  }

  .featured_gallery  img {
    /* max-width: 100%; */
    /* height: auto; */
    width: 300px;
  height: 200px;
  object-fit: cover;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.featured_gallery_menu-img {
  /* makes imgs all same size */
  width: 300px;
  height: 200px;
  object-fit: cover;
  /* maintain aspect ratio */
  border-radius: 25px;

}

.featured_gallery_menu-img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

@media only screen and (max-width: 800px) {
  .featured_gallery {
    margin-left:auto;
    margin-right:auto;
  }
  .featured_gallery {
  text-align:center;
  display: block;

  }

}

/* product page css */
.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}
.gallery  img {
  /* max-width: 100%; */
  /* height: auto; */
  width: 300px;
height: 200px;
object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

.menu-img {
/* makes imgs all same size */
width: 300px;
height: 200px;
object-fit: cover;
/* maintain aspect ratio */
border-radius: 25px;

}

.menu-img :hover {
transform: scale(1.1);
transition: 0.5s;
}

/* product details css */
  .product-details-content {
  display: flex;
  gap: 1rem;
  /* color:#000000; */
  }

  .info-ingredients-container {
  display: flex;
  gap: 1rem;
  justify-content: space-between;

  /* background-color: #8D4B0A; */
  } 

  .info-ingredients-container h3{
   /* color:#8d4c0a; */
    /* font-weight: 400; */
    /* font-family: Verdana, Arial, Helvetica, sans-serif; */
    font-family: Georgia, serif;
  }

  .info-ingredients-container li{
    font-family: Verdana, Arial, Helvetica, sans-serif;
  }

  .vertical-padding {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  list-style-type: none;
  margin-left:0;
  padding-inline-start: 0;
  }

.floating_food{
  padding-left: 5%;
  padding-right: 5%;
  margin-right: 25px;


}

  #blueberry-muffin {
  width: 400px;
  flex-shrink: 0;
  border-radius: 25px;
  animation: float 6s ease-in-out infinite;
  position:sticky;
  top:100px;
  z-index:2;
  }
  #blueberry-muffin-oval {
    position:sticky;
    z-index:1;
    top: 458px;
    width: 50%;
    height: 80px;
    /* background:		rgba(5, 5, 5, 0.5);*/
    /* box-shadow: 0 3px 10px rgba(0, 0, 0, 0.089); */
    margin-left: 25%;
    border-style: hidden;
    border-radius: 126px / 50px; 

    background:-webkit-radial-gradient(center, ellipse cover,  
    rgba(43, 43, 43, 0.418) 34%,rgba(43, 43, 43, 0.185) 72%,rgba(255, 255, 255, 0) 100%);
   
   
    animation: shadow 6s ease-in-out infinite;
}
#croissant {
  width: 400px;
  flex-shrink: 0;
  border-radius: 25px;
  animation: float 6s ease-in-out infinite;
  position:sticky;
  top:100px;
  z-index:2;
  }
#croissant-oval {
  position:sticky;
  z-index:1;
  top: 458px;
  width: 70%;
  height: 80px;
  background:-webkit-radial-gradient(center, ellipse cover,  
  rgba(43, 43, 43, 0.418) 34%,rgba(43, 43, 43, 0.185) 72%,rgba(255, 255, 255, 0) 100%);

  /* border-color:black;
  border-style: solid; */

  margin-left: 25%;
  -moz-border-radius: 126px / 50px;
  -webkit-border-radius: 126px / 50px;
  border-radius: 126px / 50px;
  animation: shadow 6s ease-in-out infinite;
}
.product-description{
/* margin-left:25%; */
background-color: #ffffffc9;
padding-left: 15%;
padding-right: 15%;
}


.gallery-recommended {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;

}
.gallery-recommended  img {
  /* max-width: 100%; */
  /* height: auto; */
  width: 200px;
height: 100px;
object-fit: cover;
  border-radius: 10px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
}

@media only screen and (max-width: 1080px) {
  .floating_food{
    padding-left: 5%;
    padding-right: 5%;
  }

  #blueberry-muffin {
    width: 50%;
   
    }
 
    #blueberry-muffin-oval {
      display:none;
    }
    #croissant {
      width: 50%;
     
      }
    #croissant-oval {
      display:none;
    }
  .product-description{
    margin-left:0;
    margin-right:0;
    padding-left: 5%;
padding-right: 5%;
    
    }
    

    .gallery-recommended{
      margin-left:auto;
      margin-right:auto;
      text-align:center
    }

    .gallery-recommended  img{
      width: 75%;
      height: 50%;
    }
    .product-details-content {
      flex-direction: column;
      align-items: center;
      text-align: center;
  /* width:100%; */
    }
  
    .product-details-content {
      max-width: none;
    }
  
    .info-ingredients-container {
      justify-content: center;
    }

  }


  @keyframes float {
    0% {
  transform: translatey(0px);
    }
    50% {
  
      transform: translatey(-30px);
    }
    100% {
  
      transform: translatey(0px);
    }
  }
  
  @keyframes shadow {
    0% {
      
      transform: scale(1.0);
  opacity:1;
    }
  
  
  50%{
    
    transform: scale(1.15);
  opacity:0.25;
  }
    100% {
    
      transform: scale(1.0);
  opacity:1;
    }
  }

  .product-info {
  display: flex;
  gap: 1rem;
  font-weight: 200;
}


  @media only screen and (max-width: 800px) {
    section .gallery{
      margin-left:auto;
      margin-right:auto;
    }
    .gallery{
    text-align:center;
    display: block;

    }

 

  }
/* product details end css */

/* Payment form page */

form {
  width: 100%;

}

.super-order-flex-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
}

.super-order-flex-item {
  flex: 50%;
  padding-left: 25px;
  padding-right: 25px;
  /* color: white; */
  padding-bottom: 25px;

}

.super-order-flex-item-sticky {
  flex: 50%;
  padding-left: 25px;
  padding-right: 25px;
  /* color: white; */
  padding-bottom: 25px;
  position: sticky;
  top: 100px;

}

.order-flex-container {
  display: flex;
  flex-direction: row;
  padding-bottom: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  /* border-style: solid; */
  /* border-color: #2348624d; */
  /* box-shadow: 0 3px 10px rgb(0 0 0 / 0.2); */
}

 label{
  font-family: Verdana, Arial, Helvetica, sans-serif;
  padding-right: 15%;
}

h1, h2, h3 label{
  font-family: Georgia, serif;
}


.order-flex-item {
  flex: 25%;
  padding-left: 25px;
  padding-right: 50px;
  color: rgb(0, 0, 0);
  padding-bottom: 25px;

}

#sticky{
    position: sticky;
    top: 100px;
}

.order-summary {
  margin-left:50px;
  padding-top: 25px;
  padding-bottom: 25px;
  padding-right: 25px;
  padding-left: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  color: black;
  position: sticky;
  top: 100px;
  /* border-color: #a5a5a5;
  border-style: solid; */
  background-color: #f8f6f6;
  box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
}
.order-summary-cart {
  padding-bottom: 25px;
  border-radius: 25px;
  margin-bottom: 25px;
  color: black;
  /* position: relative; */
  top: 100px;
}

.order-summary table{
  font-family: Verdana, Arial, Helvetica, sans-serif;
}


.order-img {
  /* makes imgs all same size */
  width: 100px;
  height: 100px;
  object-fit: cover;
  /* maintain aspect ratio */
  border-radius: 25px;

}

.order-img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}

input[type="number"]{
  font-family: Verdana, Arial, Helvetica, sans-serif;
	margin-top:0;
	padding:.75rem;
	width:5rem;
	margin:0 .5rem;

	/* border-radius:100px; */
	border: 2px solid #72266860;

	box-shadow: none;
}

input[type="radio"]{
  font-family: Verdana, Arial, Helvetica, sans-serif;
	/* margin-top:0;
	padding:.75rem;
	width:2rem;
	margin-left:2px; */

	/* border-radius:100px; */
	border: 2px solid #72266860;

	box-shadow: none;
}

input[type="radio"]:after{
  width: 15px;
  height: 15px;
  border-radius: 15px;
  top: -2px;
  left: -1px;
  position: relative;
  background-color: #d1d3d1;
  content: '';
  display: inline-block;
  visibility: visible;
  border: 2px solid #72266860;
}
input[type="radio"]:checked:after{
  width: 15px;
        height: 15px;
        border-radius: 15px;
        top: -2px;
        left: -1px;
        position: relative;
        background-color: #722668;
        content: '';
        display: inline-block;
        visibility: visible;
        border: 2px solid #72266860;
}


.radio-button-selection{
  	/* display:flex;
    flex-direction:row;
    justify-content: start; */
    display:grid;
    grid-template-columns: 0.25fr 4fr;
    align-items:center;
  
    margin-top:.5rem;
    margin-bottom:1rem;
    padding:.5rem;
    
    border-radius:10px;
    border-color:#72266860;
    border-width: 1px;
    /* border:1px solid rgb(0, 0, 0, .5);
    box-shadow: .25rem .25rem; */
    box-shadow: 0 3px 10px rgb(0 0 0 / 0.2);
  }


  .button-info {
    grid-column: 1/4;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}
@media only screen and (max-width: 800px) {
  section {
    margin-left: 5%;
    margin-right: 5%;
    position: relative;
}
 
  .order-flex-container {
    flex-direction: column;
    margin-left: 1%;
    text-align: center;
  
    margin-right: 1%;
    border-color: transparent;
  }

  .order-flex-container .order-flex-item {
    flex: 75%;
    margin-left: 0px;
    margin-left: 0;
    margin-right: 0;

  }


  .super-order-flex-container {
    flex-direction: column;
    margin-left: 0;
    margin-right: auto;
  }

  .super-order-flex-item {

    padding-left: 0;
    padding-right: 0;

  }
  .order-summary{
    text-align:center;
    margin-left:0;
  }


  .order-summary .button {
    margin-left: auto;
    margin-right: auto;
    width: 100%;


  }

  .order-summary table {
text-align:center;
    margin-left: auto;
    margin-right: auto;
    width: 100%;


  }

  .order-img {
  
    width: 65%;
    height: 65%;

  }
  

}









/* end of Sorren's flex payment */


/* footer css*/
.sweet-spot-footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-element {
  margin-top: 2%;
}

.footer-socials {
  margin-top: 3%;
}

.footer_text {
  font-style: italic;
  }

.sweet-spot-footer {
  /* background-color: rgb(246, 215, 130); */
  background-color:rgb(54, 13, 62);
  color: #ffffff;
  padding: 3%;
  text-align: center;
  }

.sweet-spot-footer p {
  font-size: 16px;
  margin: 0;
}

/* feedback page css */


.feedbackContainer{
  /* padding-bottom: 25px; */
  padding-left: 15%;
  padding-right: 15%;
  border-radius: 25px;

  /* border-style: solid; */
  /* border-color: #2348624d; */
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.089);
}

  input[type="text"],
  input[type="email"] {
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #72266860;
  }

  textarea {
  width: 100%;
  height: 200px;
  }

select{
  padding: 10px;
  width: 100%;
  border-radius: 5px;
  border: 2px solid #72266860; 
}

select:hover{
border: 2px solid #390834;
}
  @media only screen and (max-width: 800px) {

  .feedbackContainer {
    margin-left: auto;
    text-align: center;
    margin-left: 0;
    margin-right: 0;
    text-align:center;
  }
}


/* cart page elements */

.super-order-flex-container #cartContainer{
  padding-left: 25px;
  padding-right: 25px;
  border-radius: 25px;

  /* border-style: solid; */
  /* border-color: #2348624d; */
  background-color: #ffffff;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.089);
}








.menu-flex-container {
  display: flex;
  color:black;

}

.menu-flex-container .menu-flex-item-pic {
  flex: 25%;

}

.menu-flex-container .menu-flex-item-desc {
  flex: 75%;
  margin-left: 25px;
}

.menu-img {
  /* makes imgs all same size */
  width: 200px;
  height: 200px;
  object-fit: cover;
  /* maintain aspect ratio */
  border-radius: 25px;

}

.menu-img:hover {
  transform: scale(1.1);
  transition: 0.5s;
}


.thumb-img {
  /* makes imgs all same size */
  /* float: left; */
  width: 80px;
  height: 80px;
  object-fit: cover;
  /* maintain aspect ratio */
  border-radius: 25px;

}

.thumb-img:hover {
  transform: scale(1.1);
  transition: 0.5s;


}

@media only screen and (max-width: 1000px) {
  .menu-flex-container {

    flex-direction: column;
    margin-left: auto;
    text-align: center;
  }

  .menu-flex-container .menu-flex-item-desc {
    flex: 75%;
    margin-left: 0px;

  }

  .menu-img {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }

  .thumb-img {
    margin-left: 0px;
    margin-right: 0px;
    text-align: center;
  }
}

/* end of cart page */


.events {
    display: flex;
    flex-direction: row;
    margin: 0;
    overflow: hidden;
    padding-top: 1%;
    padding-bottom: 1%;
    justify-content: space-evenly;
    margin-bottom: 3%;
    flex-wrap: wrap;
  }

  .events-header {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
  }

  .event-workshop {
    max-width: 30%;
    background-image: url("../img/workshop.png");
    background-size: cover;
    background-color: #2b2b2b91;
    background-blend-mode: darken;
  }

  .workshop-text {
    width: 60%;
    margin-top: 0;
    text-align: left;
    color: white;
    background-image: none;
    padding: 10%;
    background-color: transparent;
  }

  .event-fair {
    max-width: 30%;
    background-image: url("../img/baking-fair.png");
    background-size: cover;
    background-color: #2b2b2b91;
    background-blend-mode: darken;
  }

  .fair-text {
    width: 60%;
    margin-top: 0;
    text-align: left;
    color: white;
    background-image: none;
    padding: 10%;
    background-color: transparent;
  }

  .event-fundraising {
    max-width: 30%;
    background-image: url("../img/bake-sale.jpg");
    background-size: cover;
    background-color: #2b2b2b91;
    background-blend-mode: darken;
  }

  .fundraising-text {
    width: 60%;
    margin-top: 0;
    text-align: left;
    color: white;
    background-image: none;
    padding: 10%;
    background-color: transparent;
  }

@media only screen and (max-width: 800px) {
  .events {
    flex-direction: column;
  }

  body .event-fair, .event-fundraising, .event-workshop {
    max-width: 100%;
  }
}
